<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Home</title>

    <link rel="stylesheet" href="/static/styles/navbar.css" />
    <link rel="stylesheet" href="/static/styles/studentHome.css" />

    <!-- Apply for Grad School button (Bottom right)-->
    <button class="open-button" onclick="openForm()">
      Apply for Graduation
    </button>
    <div class="form-popup" id="myForm">
      <form
        method="POST"
        action="/studentHome/{{session['uid']}}"
        class="form-container"
      >
        <h1>Apply For Graduation</h1>
        <form method="POST">
          <button
            type="submit"
            name="masters"
            value="masters"
            onclick="mastersBut('{{ reqs|lower }}', '{{ program }}')"
          >
            Masters Program
          </button>
          <button
            type="submit"
            name="doctorate"
            value="doctorate"
            onclick="doctorateBut('{{ reqs|lower }}', '{{ program }}')"
          >
            Doctorate Program
          </button>
          <button type="button" class="cancel" onclick="closeForm()">
            Close
          </button>
        </form>
      </form>
    </div>
  </head>
  <body>
    <nav>
      <div class="menu_bar">
        <a href="/home/{{session['uid']}}"
          ><h2>George Washington University</h2></a
        >
        <!-- this part will need to be conditionally rendered based on if the user is signed in or not -->
        <div class="dropdown">
          <summary class="sum">Registration</summary>
          {% if studInfo.reg_approval == 1 %}
          <a href="/registration/{{ studentID }}" class="navbar"> Register </a>
          {% else %}
          <a
            href="#"
            class="navbar"
            onclick="alert('Please complete the advising form to unlock registration.');"
          >
            Register
          </a>
          {% endif %}
          <a href="/viewTranscripts/{{studentID}}" class="navbar">
            View Transcripts
          </a>
          <a href="/viewCurrentSchedule/{{ studentID }}" class="navbar">
            View Current Schedule
          </a>
          <a href="/viewPastSchedules/{{ studentID }}" class="navbar">
            View Past Schedules
          </a>
          <a href="/viewCourseCatalogue" class="navbar">
            View Course Catalog
          </a>
          <summary class="sum">Advising</summary>
          {% if studInfo['reg_approval'] == 0 %}
          <a href="/advisingForm" class="navbar"> First Semester Advising </a>
          {% endif %}
          <a href="/update_courses" class="navbar"> Fill out a Form1 </a>
          <a href="/submit_thesis" class="navbar"> Submit a Thesis </a>
        </div>
        <div class="bottom-elems">
          <a href="/editInfo" class="button"> Edit Profile </a>
          <a href="/logout" class="button"> Sign Out </a>
        </div>
      </div>
    </nav>
    <div class="dashboard">
      <ul>
        <li><h2>Student Dashboard</h2></li>
      </ul>
    </div>
    <div class="content-area text-style">
      <div class="personal-info">
        <h2>Personal Info</h2>
        <div class="info-personal">
          <p class=" ">UID: {{session['uid']}}</p>
          <p class=" ">First Name: {{ session['fname'] }}</p>
          <p class=" ">Last Name: {{ session['lname'] }}</p>
          <p class=" ">Email: {{ session['email'] }}</p>
          <p class=" ">Address: {{ userdata['address'] }}</p>
          <p class=" ">Birthdate: {{ userdata['birthday'] }}</p>
        </div>
      </div>
      <div class="second">
        <div class="degree-info">
          <h2>Degree Info</h2>
          <p class=" ">Graduation Status: {{ studInfo['grad_status'] }}</p>
          <p class=" ">Program Type: {{ studInfo['program'] }}</p>
        </div>
        <div class="academic-info">
          <h2>Academic Info</h2>
          {% if facInfo%}
          <p class=" ">
            Faculty Advisor: {{ facInfo['lname'] }}, {{ facInfo['fname'] }}
          </p>
          <p class=" ">Faculty Advisor Email: {{ facInfo['email'] }}</p>
          <p class=" ">GPA: {{ studInfo['gpa'] }}</p>
          {%else%}
          <p class=" ">Faculty Advisor: Pending Review</p>
          <p class=" ">Faculty Advisor Email: Pending Review</p>
          <p class=" ">GPA: {{ studInfo['gpa'] }}</p>
          {%endif%}
        </div>
      </div>
    </div>

    <main>
      <!-- <div class = "studentHome">
    <ul> 
        <button> <a href = "/viewTranscripts/{{studentID}}"> View Transcripts </a> </button>
        <button> <a href="/viewCurrentSchedule/{{ studentID }}"> View Current Schedule </a> </button>
        <button> <a href="/viewPastSchedules/{{ studentID }}"> View Past Schedules </a> </button>
        <button> <a href = "/registration/{{studentID}}"> Register </a> </button>
        <button> <a href = "/viewCourseCatalogue"> View Course Catalogue </a> </button>
    </ul>   
</div> -->
    </main>
  </body>
</html>

<script>
  // Opening Apply for Grad Button
  function openForm() {
    // Hide the button
    document.querySelector(".open-button").style.display = "none";
    // Show the form popup
    document.getElementById("myForm").style.display = "block";
  }

  // Closing Apply for Grad Button
  function closeForm() {
    // Show the button
    document.querySelector(".open-button").style.display = "block";
    // Hide the form popup
    document.getElementById("myForm").style.display = "none";
  }

  function mastersBut(reqs, program) {
    var popupMessage;
    console.log("Test" + reqs);
    if (reqs == "true" && program == "Masters") {
      popupMessage =
        "Congratulations! You meet the requirements for the Masters Program. Your application has been sent in.";
    } else {
      popupMessage =
        "Sorry, you do not meet the requirements for the Masters Program.";
    }
    alert(popupMessage);
  }

  function doctorateBut(reqs, program) {
    console.log("checking program type..", program, reqs);
    var popupMessage;
    if (reqs == "true" && program == "Doctorate") {
      popupMessage =
        "Congratulations! You meet the requirements for the Doctorate Program. Your application has been sent in.";
    } else {
      popupMessage =
        "Sorry, you do not meet the requirements for the Doctorate Program.";
    }
    alert(popupMessage);
  }
</script>
